<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
<style>
	body{
		 background-color: #DCDCDC;
		}
</style>
  </head>

<body>
<br/>
<p style="color: red;"><font size="5"> BEŞİKTAŞ HABERLERİ</font></p>
<div class="container">
	<div class="row">
		<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas1", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Loris Karius: İz bırakmak istiyorum', home_bhaber1_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas2", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Süper Lig puan durumu 4. hafta. Lider değişti mi?', home_bhaber2_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas3", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Loris Karius: "Vodafone Parkta mükemmel bir atmosfer var"', home_bhaber3_path%></p>
  </div>
</div>

</div>
</div>
<br/>
<div class="row">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas4", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Beşiktaş kafilesi Bursaya geldi', home_bhaber4_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas5", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Beşiktaşın yeni transferi ilk idmanına çıktı! ', home_bhaber5_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas6", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Beşiktaşta Karius ve Ljajic kadroda', home_bhaber6_path%></p>
  </div>
</div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas7", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Fikret Orman: "Yenilenmiş bir yönetim kurulu oluşturmak gerektiği inancındayım"', home_bhaber7_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas8", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Adem Ljajic Sosa - Talisca karışımı', home_bhaber8_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("besiktashaberleri/besiktas9", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'İşte Burak Yılmaz - Beşiktaş anlaşmasını yatıran detay!
', home_bhaber9_path%></p>
  </div>
</div>
</div>
</div>
</div>	
</body>
</html>