<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
<style>
	body{
		 background-color: #DCDCDC;
		}
</style>
  </head>

<body>
 
<br/>
<p style="color: red;"><font size="5">GALATASARAY HABERLERİ</font></p>
<div class="container">
	<div class="row">
		<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs1", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Galatasaray’ın "hırçın" futbolcusu Younes Belhanda!', home_ghaber1_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs2", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Galatasaray da Badou Ndiaye 222 gün sonra tekrar sahada', home_ghaber2_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs3", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Fatih Terim: Transfer ağızla yapılmıyor!', home_ghaber3_path%></p>
  </div>
</div>

</div>
</div>
<br/>

<div class="row">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gsi6", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Flaş yorum: Fatih Terim intihar etti! (Trabzonspor-Galatasaray)', home_ghaber4_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs5", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'UEFA resmen açıkladı! İşte yeni sıralama', home_ghaber5_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs6", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Trabzonspor - Galatasaray maçının ardından tartışma! Fatih Terim ve Hasan Şaş çıldırdı!', home_ghaber6_path%></p>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gs7", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Galatasaraydan olağanüstü genel kurul kararı!', home_ghaber7_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gsii6", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Ne yaptın Podolski!', home_ghaber8_path%></p>
  </div>
</div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <%= image_tag("galatasaray/gsiii6", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Galatasaray yorumu: Bir daha bu 11i görmeyeceksiniz!', home_ghaber9_path%></p>
  </div>
</div>
</div>
</div>
</div>	
</body>
</html>