<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
<style>
	body{
		background-color: 	#FFF0F5;
		}
</style>
  </head>

<body>

<br/><br/>

<div class="container" align="center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <a href="<%=  home_manset1_path %>"> <%= image_tag("mansetler/manset1.jpg", widht: '900px', height:'500px') %></a>

    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset2_path %>"><%= image_tag("mansetler/manset2.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset3_path %>"><%= image_tag("mansetler/manset3.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset4_path %>"><%= image_tag("mansetler/manset4.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset5_path %>"><%= image_tag("mansetler/manset5.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset6_path %>"><%= image_tag("mansetler/manset6.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset7_path %>"><%= image_tag("mansetler/manset7.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset8_path %>"><%= image_tag("mansetler/manset8.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset9_path %>"><%= image_tag("mansetler/manset9.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset10_path %>"><%= image_tag("mansetler/manset10.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset11_path %>"><%= image_tag("mansetler/manset11.jpg", widht: '900px', height:'500px') %></a>
    </div>
    <div class="carousel-item">
       <a href="<%=  home_manset12_path %>"><%= image_tag("mansetler/manset12.jpg", widht: '900px', height:'500px') %></a>
    </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br/>





</body>