<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
<style>
	body{
		 background-color: #DCDCDC;
		}
</style>
  </head>

<body>
 <nav class="navbar navbar-light " style="background-color:   #F5DEB3">
 <div class="container">
   <a class="navbar-brand">Spor Haberleri</a>  
         <%=link_to 'Beşiktaş' , home_besiktas_path, class: 'navbar-link' %>
         <%= link_to 'Galatasaray', home_galatasaray_path, class: 'navbar-link' %>
         <%= link_to 'Fenerbahçe', home_fenerbahce_path, class: 'navbar-link' %>    
  </div>
  </nav>
</nav>
<br/><br/>

<div class="container" align="center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
       <%= image_tag("resim/spor.jpg", widht: '900px', height:'500px') %>
    </div>
    <div class="carousel-item">
       <%= image_tag("resim/sporiki.jpg", widht: '900px', height:'500px') %>
    </div>
    <div class="carousel-item">
       <%= image_tag("resim/sporüc.jpg", widht: '900px', height:'500px') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>
</div>
<br/>
<div class="row">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-md-4">
		<div class="card" style="width: 18rem;">
  <%= image_tag("resim/sporüc", width: '287px', height: '200px') %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>
</div>	
</body>
</html>